<h1><%= @post.title %></h1>

<p><%= @post.content %></p>
<p><%= @post.likes %></p>

<%= button_to "like", post_path, { method: :patch, form: {like: 1} }  %>
<hr>
<p>Post by: <%= link_to @post.blogger.name, blogger_path(@post.blogger) %></p>
<p>Destination:  <%= link_to @post.destination.name, blogger_path(@post.destination) %></p>